body {

    background-image: url("../img/torneocell.png");
    background-size: cover;

}

.titulo {

    position: relative;
    left: 200px;

}

.botonGohan {

    width: 200px;
    height: 53px;
    position: absolute;
    top: 600px;
    left: 400px;

}

.botonCell {

    width: 200px;
    height: 53px;
    position: absolute;
    top: 600px;
    left: 900px;
    
}

.cambiar {

    width: 120px;
    height: 56px;

}

a {

    position: absolute;
    left: 1330px;
    top: 20px;

}

.gohan {

    position: absolute;
    left: 380px;
    top: 200px;

}

.cell {

    position: absolute;
    left: 925px;
    top: 200px;

}
