body {

    background-image: url("../img/torneopoder.jpg");
    background-size: cover;

}

.titulo {

    position: relative;
    left: 200px;

}

.botonRoshi {

    width: 200px;
    height: 53px;
    position: absolute;
    top: 600px;
    left: 400px;

}

.botonBriand {

    width: 200px;
    height: 53px;
    position: absolute;
    top: 600px;
    left: 900px;
    
}

.cambiar {

    width: 120px;
    height: 56px;

}

a {

    position: absolute;
    left: 1330px;
    top: 20px;

}

.roshi {

    position: absolute;
    top: 200px;
    left: 390px;

}

.briand {

    position: absolute;
    top: 250px;
    left: 905px;
    
}