<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Torneo del Poder</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">

</head>

<body>

    <img class="titulo" src="{{ url_for('static', filename='img/titulo3.png') }}">

    <img class="roshi" id="image5" src="/static/img11111.png" alt="Imagen inicial5">

    <img class="briand" id="image6" src="/static/img111111.png" alt="Imagen inicial6">
    
    <img onclick="changeImage5()" class="botonRoshi" src="{{ url_for('static', filename='img/Transformargoku.png') }}">

    <img onclick="changeImage6()" class="botonBriand" src="{{ url_for('static', filename='img/Transformargiren.png') }}">

    <a href="/">

        <img class="cambiar" src="{{ url_for('static', filename='img/cambiar.png') }}">

    </a>

    <script>

        let imagesSet5 = [];

        let imagesSet6 = [];

        let index5 = 0;

        let index6 = 0;

        async function fetchImages5() {

            const response = await fetch('/api/image-set5');

            imagesSet5 = await response.json();

        }

        async function fetchImages6() {

            const response = await fetch('/api/image-set6');

            imagesSet6 = await response.json();

        }

        function changeImage5() {

            if (imagesSet5.length === 0) return;

            index5 = (index5 + 1) % imagesSet5.length;

            const image5 = document.getElementById('image5');

            image5.src = imagesSet5[index5];

        }

        function changeImage6() {

            if (imagesSet6.length === 0) return;

            index6 = (index6 + 1) % imagesSet6.length;

            const image6 = document.getElementById('image6');

            image6.src = imagesSet6[index6];

        }


        window.onload = async () => {

            await fetchImages5();

            await fetchImages6();
            
        };

    </script>

</body>

</html>